{% extends 'template.html' %}
{% block content %}
    <h2>New auction</h2>
    <form method="post" name="details">
    {% csrf_token %}
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" name="name" title="Maximum length is 50 characters" value="{{ auction.name }}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea name="description" rows="5" cols="50" title="Describe your item(s) here.">{{ auction.description }}</textarea></td>
            </tr>
            <tr>
                <td>Price minimum (X.XX) EUR:</td>
                <td><input type="text" name="priceMin" value="{{ auction.priceMin }}"></td>
            </tr>
            <tr>
                <td>Auction closes after (n) hours:</td>
                <td><input type="datetime" name="dateEnd" title="Default and minimum is 72h from creation of auction"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
{% endblock %}