{% extends 'template.html' %}
{% block content %}
    <div id="auction_info">
        <h1>{{ auction.name }}</h1>
        <small>
            Seller id: {{ auction.seller }}<br>
            Time posted: {{ auction.time }}
        </small>
        <p>Description:<br>
            {{ auction.description }}</p>
        <p id="auction"><b>Base price: </b>{{ auction.priceMin }}<br>
        <b>Due: </b>{{ auction.due }}</p>
    </div>
    {% block bid_area %}
    {% endblock %}
    <div id="bids">
        {% for bid in auction.bid_set.iterator %}
            <br>
            <div id="bid">
                <b>Bid amount: </b>{{ bid.price }}<br>
                <b>Time: </b>{{ bid.time }}<br>
            </div>
        {% empty %}
            Here would be the list of bids. Sadly, it now is empty.
        {% endfor %}
    </div>
{% endblock %}