{% block content %}
    <div id="auction_info">
        <h1>{{ auction.name }}</h1>
        Seller: {{ auction.seller }}
        <p>Description:<br>
            {{ auction.description }}</p>
        <p>Base price: {{ auction.priceMin }}</p>
        <p>Due: {{ auction.due }}</p>
    </div>
    <div id="bids">
        {% for bid in bids %}
            <br>
            <div id="bid">
                <b>Bid amount: </b>{{ bid.price }}<br>
                <b>Time: </b>{{ bid.time }}<br>
            </div>
        {% empty %}
            Here would be the list of bids. Sadly, it now is empty.
        {% endfor %}
    </div>
{% endblock %}