<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form>
        <select name="search_menu">
            <option value="1">name</option>
            <option value="2">description</option>
            <option value="3">price above</option>
            <option value="4">price below</option>
        </select>
        <input type="text" name="search_text">
        <!-- sends query to server to fetch active auctions that matches search option -->
        <input type="button" name="search_btn" value="Search"> <!-- TODO add action -->
    </form>
</body>
</html>