<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ siteName }}{{ name }} edit</title>
    <script>
        function validate() {
            validity = true;
            var x = document.forms["edit_user"]["userName"];
            if(x == null || x.length() <30){
                alert("Name must be filled out");
                validity = false;
            }
            x = document.forms["edit_user"]["email"];
            if(x == null || x==""){
                alert("You need an email to be able to have an account.");
                validity = false;
            }
            x = document.forms["edit_user"]["password"];
            y = document.forms["edit_user"]["password_check"];
            if((x == null || x=="")&& x.toString()==y.toString()){
                alert("The passwords must match and be other than empty");
                validity = false;
            }
            return validity
        }
    </script>
</head>
<body>
    <h1> Edit user details</h1>
    <form name="edit_user" method="post">
        Name: <input type="text" name="userName"><br>
        Email: <input type="text" name="email"><br>
        New password: <input type="text" name="password"><br>
        New password (again): <input type="text" name="password_check"><br>
        <input type="submit" value="Save" onclick="validate()">
    </form>
</body>
</html>