{% extends 'template.html' %}
{% block content %}
    <h1>User details</h1>
    ID: {{ user.id }}<br>
    Username: {{ user.username }}<br>
    E-mail: {{ user.email }}<br>
    First name: {{ user.first_name }}<br>
    Last name: {{ user.last_name }}<br>
    <form method="get" action="/user/edit/">
        <input type="hidden" name="id" value="{{ user.id }}">
        <input type="submit" name="edit" value="Edit">
    </form>
    <br>
    <div id="auctions">
    {% for auction in auctions %}
        <br>
        <div id="auction">
            <h2><a href="/auction/{{ auction.id }}">{{ auction.name }}</a></h2>
            <small>
                ID: {{ auction.id }}<br>
                Time: {{ auction.time }}<br>
            </small>
            <div id="auction_text">
                {{ auction.description }}
            </div>
        </div>
    {% empty %}
        Here would be the list of auctions. Sadly, it now is empty.
    {% endfor %}
</div>
    <br>
    <div id="bids">
        {% for bid in bids %}
            <br>
            <div id="bid">
                <b><a href="/auction/{{ auction.id }}">{{ auction.name }}</a></b>
                <b>Bid amount: </b>{{ bid.price }}<br>
                <b>Time: </b>{{ bid.time }}<br>
            </div>
        {% empty %}
            Here would be the list of bids. Sadly, it now is empty.
        {% endfor %}
    </div>
{% endblock %}